body {
  background-color: #f7f7f7;
  font-family: helvetica,sans-serif;
  line-height: 1.4em;
  color: #333;
}

ol, ul {
  list-style: none;
}

#todoapp {
  margin: 0 auto 40px;
  background-color: white;
  width: 800px;
  padding: 10px;
}

#title h1 {
  text-align: center;
}

#todo-list li {
  padding: 12px 20px 11px 0;
  position: relative;
  font-size: 24px;
  line-height: 1.1em;
  border-bottom: 1px solid #CCC;
}

#create-todo {
  position: relative;
  margin-left: 60px;
}

#create-todo input {
  width: 666px;
  font-size: 24px;
  font-family: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  padding: 6px;
  border: 1px solid #999;
}
